:root {
	--back-color: blue;
}


* {
	font-family: sans-serif;
}

html {
	background: url('../images/ff1.png');
	background-size: 100%, 50px;
	background-repeat: no-repeat;
	background-color: blue;

}

body {
	
}
