:root {
	--back-color: blue;
}


* {
	font-family: sans-serif;
}

html {
	background: url('../images/ff.png');
	background-size: cover;
	/*background-repeat: no-repeat;
	z-index: 1;*/

	position: absolute;
    top: 0;
    width: 100%;
    background-color: white;

}

body {
	
}
